// _paleta.scss
$primary-color: #333;      // Cor principal para header e footer
$secondary-color: #444;    // Cor secundária para navegação
$text-color: white;        // Cor do texto
$background-color: #f4f4f4; // Cor de fundo
